@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public Sans&display=swap');
*{
font-family: 'Poppins',sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(120, 132, 238);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 132, 238);
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #283844;
    --primary-color: #658DAC;
    --first-color-light: white;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    background-color: #F7F6FB;
    position: relative;
    margin: var(--header-height) 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.header_img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #DFE0EB;
    overflow: hidden;
}
.header_img img {
    width: 40px;
}
.ms-n1{
    margin-left: -10em;
}
.ms-n2{
    margin-left: -5em;
}
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0.5rem 1rem 0 0;
    
    transition: 0.5s;
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.bg-primary{
    background-color: #658DAC !important;
}
.nav_link,
.nav_logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_sub_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.25rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
    column-gap: 0;
    margin-bottom: 2rem;
    margin-left: -0.5rem;
}
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}
.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.nav_sub_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 0.5rem;
    transition: 0.3s;
}
.nav_link:hover, .nav_sub_link:hover {
    color: var(--white-color);
}
.nav_icon {
    font-size: 1.25rem;
}
.show {
    left: 0;
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}
.active {
    color: var(--white-color);
    background-color: #0dcaf0;
}
.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
.height-100 {
    height: 100vh;
}
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 35px;
        height: 35px;
    }
    .header_img img {
        width: 40px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

.must-hover{
    color: #E7D1B1;
}

.should-hover{
    color: rgb(120, 132, 238);
}

.must-hover:hover, .should-hover  :hover{
    color: #D19F4B;
    border-color: #D19F4B;
}

.rounded-category{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    border-color: #D19F4B !important;
    background-color: #D19F4B !important;
}

.can-hover{
    color: #C5C7CD;
}

.can-hover  :hover{
    color: rgb(120, 132, 238);
}

.btn-success{
    border-color: #D19F4B !important;
    background-color: #D19F4B !important;
}
.btn-outline-success{
    border-color: #D19F4B !important;
    color: #D19F4B !important;
}

.btn-outline-success:hover{
    color: white !important;
    background-color: #D19F4B !important;
}

.btn-success:hover{
    border-color: #ad833a !important;
    background-color: #ad833a !important;
}

.list-group-item :hover{
    background-color: #f1f2f7;
}

thead{
 font-size: 12px;   
}

tbody{
 font-size: 12px;

}

td{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.rounded-category-green{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    background-color: #29CC97 !important;
}

.rounded-category-yellow{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    background-color: #FEC400 !important;
}

.rounded-category-red{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    background-color: #F12B2C !important;
}

.profile_img {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #DFE0EB;
    overflow: hidden;
}
.profile_img img {
    width: 120px;
}

.circle-ring{
    position: relative;
}
.circle-progress_1, .circle-progress_2{
    transform-origin: center;
    transform: rotate(-90deg);
}
.circle-percent_1, .circle-percent_2{
    position: absolute;
    top: 155px;
    font-size: 20px;
    font-weight: 700;
}
.circle-status{
    opacity: 0.4;
    font-weight: 500;
    font-size: 16px;
}

.card{
    border-radius: 25px;
    text-decoration: none !important;
}

.card-header{
    text-decoration: none !important;
    padding: 15px;
    font-size: 23px;
    color: white;
    font-weight: 600 !important;
    background-color: #658DAC;
    border-radius: 25px 25px 0 0 !important;
}

.progress{
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-radius: 10px;
}

.bg-secondary{
    background-color: #475A68 !important;
}


.vl {
    border-left: 2px solid #A2A2A2;
    height: 400px;
    margin-left: 8rem;
}

.card-container{
    margin-top: 13% !important;
}

